<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<th:block th:include="/_header"></th:block>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- success message  -->
            <div th:if="${param.success}">
                <div class="alert alert-info"> You are successfull registered to our awsome app!</div>
            </div>

            <h1>Topics</h1>
            <table class="table table-striped table-success" th:if="${topics.size() != 0}">
                <thead>
                <tr>
                    <th>Answers</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Created</th>
                    <th>Enter</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="topic : ${topics}">
                    <tr>
                        <td th:text="${commentcount.countComment(topic.id)}">Number of answers</td>
                        <td th:text="*{topic.title}">Topic's title</td>
                        <td>
<!--                            <a th:href="@{'/profile/' + ${topic.getUser().getId()}}">-->
                                <div class="chip" th:text="${topic.user.userDisplayName}">Topic's author</div>
<!--                            </a>-->
                        </td>
                        <td th:text="*{topic.creationDate}">Topic's created date</td>
                        <td>
                            <a th:href="@{'/topic/' + ${topic.id}}" class="btn btn-floating pulse">
                                <i class="bi bi-arrow-right-square-fill"></i>
                            </a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>