<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <th:block th:include="/_header"></th:block>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">


                <h1>CREAT A NEW TOPIC</h1>
                <form th:action="@{/newtopic}" method="post" th:object="${topic}">
                    <div class="form-group">
                        <label class="control-label" for="Title"> Title </label>
                        <input type="text" id="Title" class="form-control" th:field="*{title}" required
                               autofocus="autofocus"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Body"> Body </label>
                        <textarea id="Body" class="form-control" th:field="*{body}" rows="5" required/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">ADD TOPIC</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>